<%= stylesheet_pack_tag 'login/show' %>

<div id="vue-root">
  <app>
    <%= button_to 'Login', '/auth/auth0', method: :post, class: 'v-btn v-btn--contained theme--light v-size--default primary' %>
  </app>
</div>
<%= javascript_pack_tag 'login/show' %>
